*.DS_Store
*.class
*.pyc
_build
_dist
_data
_logs
webapp/WEB-INF/appengine-web.xml
webapp/WEB-INF/classes
webapp/WEB-INF/static
webapp/META-INF/*.properties
webapp/META-INF/*.conf
webapp/META-INF/ots.freebase.conf.in
webapp/WEB-INF/lib/mysql-connector-java-*.jar
webapp/WEB-INF/scripts/freebase
webapp/WEB-INF/scripts/qa
config/project.local.conf
server/classes
library/classes
appengine/classes
war/
*~
\#*\#
.#*

