*.DS_Store
*.class
*.pyc
_build
_dist
webapp/WEB-INF/web.xml
webapp/WEB-INF/web.xml.in
webapp/WEB-INF/appengine-web.xml
webapp/WEB-INF/appengine-web.xml.in
webapp/WEB-INF/cron.xml
webapp/WEB-INF/cron.xml.in
webapp/WEB-INF/datastore-indexes.xml
webapp/WEB-INF/datastore-indexes.xml.in
webapp/WEB-INF/queue.xml
webapp/WEB-INF/queue.xml.in
webapp/WEB-INF/classes
webapp/WEB-INF/appengine-generated
webapp/WEB-INF/lib/mysql-connector-java-*.jar
webapp/WEB-INF/lib/appengine-*.jar
webapp/META-INF/*.properties
webapp/META-INF/*.conf
webapp/META-INF/ots.other.conf.in
webapp/META-INF/ots.freebase.conf.in
config/project.local.conf
server/classes
library/classes
*~
\#*\#
.#*

