*.DS_Store
*.class
_build
_dist
_data
_logs
webapp/WEB-INF/classes
webapp/WEB-INF/static
server/classes
library/classes
appengine/classes
webapp/META-INF/*.properties
webapp/META-INF/*.conf
war/
*~
\#*\#
.#*

